footer{
    padding-top:150px
}

footer ul li{
    list-style: none;
    font-size: .8rem;
}

.jumbotron {
    background-image: url(../img/jumbotron.jpg);
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    height: 351px;
    background-position: center;
}

.mt-n-50{
    margin-top: -50px;
}

.text-darkblue{
    color: #132968;
}

.fs-08{
    font-size: .8rem;
}